html,
body {
  width: 100vw;
  background-color: black;
  font-size: 22px;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

* {
  color: #333;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: seashell;
  opacity: 0.9;
}

/* header */
header {
  height: 69px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
  position: fixed;
  top: 0;
  z-index: 10;
  background: black;
  opacity: 1;
}
header li {
  display: inline-block;
  padding: 15px;
}
header img {
  height: 50px;
  width: auto;
  background-size: cover;
  margin: 10px;
}

/* body */
main {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  top: 69px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.bgrd {
  background: url("/bgrd.PNG");
  width: 100%;
  height: 700px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stripe {
  width: 100%;
  background: black;
  opacity: 1;
}
h2,
h3,
h4 {
  font-weight: bold;
  line-height: 2;
}
h2 {
  font-size: 1.5rem;
}

.tea {
  width: 1000px;
  margin: 50px auto;
}
.list {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.item {
  width: 300px;
  margin: 10px;
}
.item img {
  height: 200px;
  background-size: cover;
}
.myrtie {
  margin-left: 175px;
}
.bedford {
  margin-right: 175px;
}
.location {
  background: url("/locations.PNG");
  height: 500px;
  background-size: cover;
  background-position: center;
}
.location > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.location > h2 {
  margin-top: 30px;
}
.address {
  background-color: black;
  width: 300px;
  height: 300px;
  margin: 15px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.address > h4 {
  font-weight: normal;
}

/* footer */
footer {
  position: relative;
  top: 100px;
}
.foot {
  height: 200px;
  width: 100%;
}
#copyright {
  text-align: left;
  margin-left: 20px;
}
